@model ClothCanvas.Entity.Supplier

@{
    ViewData["Title"] = "Create Supplier";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label><a href="c:\users\meet\onedrive\desktop\programming\clothcanvas\clothcanvas\clothcanvasadmin\views\supplier\create.cshtml">c:\users\meet\onedrive\desktop\programming\clothcanvas\clothcanvas\clothcanvasadmin\views\supplier\create.cshtml</a>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactInfo" class="control-label"></label>
        <input asp-for="ContactInfo" class="form-control" />
        <span asp-validation-for="ContactInfo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
